hr {
  margin-top: 30px;
  margin-bottom: 20px;
}

/* Post navigation links */
.post_navi {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.post_navi-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.post_navi-arrow {
  font-size: 1.5em;
  margin-right: 10px;
}

.post_navi-label {
  font-size: 1em;
}

.post_navi-item:hover .post_navi-label {
  text-decoration: underline;
}

/*works html formatting */
.scaled-image {
  width: 60%; /* Adjust the width as needed */
  height: auto; /* Maintain the aspect ratio */
}
.image-grid {
  display: grid;
  grid-template-columns: 1fr; /* Single column */
  gap: 32px; /* Space between images */
  max-width: 800px; /* Maximum width of container */
  margin: 0 auto; /* Center the grid container */
  padding: 20px;
}

.scaled-image {
  width: 60%; /* Adjust width of images */
  height: auto;
  display: block;
  margin: 0 auto; /* Center each image */
}

figure {
  margin: 0;
  padding: 0;
  text-align: center; /* Center the caption text */
}

figcaption {
  margin-top: 8px; /* Space between the image and the caption */
  font-size: 0.9em;
  color: #555; /* Adjust the caption color as needed */
  text-align: center; /* Justify the caption text */
  width: 100%; /* Ensure the caption matches the width of the image */
  display: block; /* Ensure the caption respects the width */
}

/* Modal styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


/* Smooth scrolling for the entire document */
html {
  scroll-behavior: smooth;
}


body {
  background-color: #f9f9f9;
  font: normal 1em / 1.5em BlinkMacSystemFont, -apple-system, 'Segoe UI', roboto, helvetica, arial, sans-serif;
}

h1 {
  font-size: 1.5em;
  color: #555;
  text-align: center;
}

audio {
  display:block;
  margin: auto;
}

#backToTopBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed position */
  bottom: 20px; /* Place the button 20px from the bottom */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #555; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#backToTopBtn:hover {
  background-color: #333; /* Add a dark-grey background on hover */
}


/*  social icons */

.social-icon {
  display: inline-block;
  margin-right: 10px;
  color: #555;
  text-decoration: none;
  font-size: 1.5em;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #000;
}